services:
  nginx:
   image: nginx:alpine
   container_name: aiops-gateway
   ports:
     - "80:80"
   volumes:
     - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
   depends_on:
     - frontend
     - aiops-engine

  aiops-engine:
    build: ./app
    container_name: aiops-engine
    expose:
      - "8000"
    ports:
      - "${NETFLOW_PORT}:2055/udp"  # Direct NetFlow Listener
      - "127.0.0.1:8000:8000"
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - PROMETHEUS_URL=${PROMETHEUS_URL}
      - TARGET_INTERFACE=${TARGET_INTERFACE}
      - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
      - TZ=Asia/Jakarta
    depends_on:
      - redis
      - prometheus
    volumes:
      - ./app:/app
      - ./data:/app/data

  frontend:
    build: ./svelte-dashboard
    container_name: aiops-frontend
    expose:
      - "3000"
    environment:
      - API_URL=http://aiops-engine:8000
      - PUBLIC_API_URL=/api
    depends_on:
      - aiops-engine

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "127.0.0.1:9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  redis:
    image: redis:alpine

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    network_mode: host
    pid: host
    volumes:
      - /proc:/host/proc:ro 
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc' 
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($|/)'

  softflowd:
    build: ./softflowd
    container_name: softflowd
    network_mode: host
    privileged: true
    command: -i ${TARGET_INTERFACE} -v 5 -t maxlife=60 -n 127.0.0.1:${NETFLOW_PORT} "not port ${NETFLOW_PORT}"
    restart: always

